
#p5-canvas-container{
    position: relative;
}

#p5-node-inspector{
    display: none;
    position: absolute;
    z-index: 1;

    background-color: whitesmoke;
    margin: 2rem;
    padding: 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2); 
}